
<%#<div id="friends" %>  
<h3>To day:-<%= today = Time.now.strftime("%A,%d%B%Y,%H:%M") %></h3>

<h1>Todo list</h1>
<div class="table-responsive" >
<table class ="table table-striped table-bordered"  >
    <thead class="table-dark">
    <tr>
        <th>TODO</th>
        <th>DUE</th>
        <th colspan ="1" > </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td> test</td>
        <td> date time</td>

           <td><%= link_to "EDIT ", edit_todo_path, class:"btn btn-danger btn-sm" %></td>
      </tr>
    </tbody>
</table>
</div>

<%= link_to "New todo", new_todo_path, class:"btn btn-dark"  %>
<%# = link_to "Edit todo", edit_todo_path, class:"btn btn-danger"  %>



